	*{
		margin:0;
		padding:0;
	}
	a{
		text-decoration: none;
		color:#666;
	}
	.fl
	{
		float:left;
	}
	.fr{
		float: right;
	}
	.cf:after,
	.cf:before{
		display:block;
		content:'';
		clear:both;
	}

	body{
		background: #f5f5f5;;
	}
	header,.content,footer{
		width:100%;
	}
	.header_main,.content_main,.footer_main{
		width:980px;
		margin:0 auto;
	}
	/*--------01------------------------header--------------*/
	header .header_main{
		height:60px;
		padding: 25px 0 30px 60px;
		vertical-align: middle;
	}
	header .header_main span{
		position:relative;
		left:10px;
		top:-24px;
		font-size: 21px;
		color:#666;
	}
	header .header_main span:hover{
		color: #C9211C;
		cursor: pointer;
	}
	/*--------02------------------------content--------------*/
	.content .content_main{
		background:#fff;
	}
	.content .content_main .content_01,
	.content .content_main .content_02{
		float:left;
	}
	.content .content_main .content_02 div{
		margin-top: 65px;
		margin-bottom: 40px;
	}
	.content .content_main .content_02 div h3{
		font-size:18px;
		color:#666;
		font-weight: 500;
		padding-right: 100px;
	}
	.content .content_main .content_02 div span,
	.content .content_main .content_02 div a{
		font-size:8px;
		color:rgb(51, 51, 51);
		margin-top: 4px;
	}
	.content .content_main .content_02 div a{
		color:#ffb000;;
	}
	.content .content_main .content_02 input,
	.content .content_main .content_02 button,
	.content .content_main .content_02 a{
		display: block;
	}
	.content .content_main .content_02 input{
		padding:10px 100px 10px 35px;
		margin-bottom: 40px;
		border: 1px solid #dadada;
		margin-left: 5px;
	}
	.content .content_main .content_02 .bg_img1{
		background-image: url(../img/login/login_name.png);
		background-repeat: no-repeat;
	}
	.content .content_main .content_02 .bg_img2{
		background-image: url(../img/login/login_pwd.png);
		background-repeat: no-repeat;
	}
	.content .content_main .content_02 button{
		color:#fff;
		background: #ffb000;
		border:2px solid #ffb000;
		width:304px;
		height:35px;
		margin-left: 5px;
		line-height: 35px;
		font-size:18px;
		border-radius: 5px;
	}
	.content .content_main .content_02 a:last-child{
		color:#666;
		font-size:10px;
		margin-top:20px;
		margin-right: 20px;
	}
	.content .content_main .content_02 a:last-child:hover{
		color:#ffb000;
	}
	/*--------03------------------------footer--------------*/
	footer .footer_main p{
		font-size: 10px;
		color:#668686;
		margin-top:25px;
		text-align: center;
	}