*{
    margin:0;
    padding:0;
}
body{
    background-color: #f5f5f5;
    color:#666;
}
a{
    text-decoration: none;
}
.fl,
.fr{
    float:left;
}
.cf:after,
.cf:before{
    display:block;
    content:'';
    clear:both;
}
.ct:before{
    display:table;
    content:'';
}
ul{
    list-style: none;
}
.details{
    width:100%;
    background:#FFF7F0;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:13px;
}
.details .details_main{
    width:1200px;
    margin:0 auto;
}
a:hover{
    color:#e61940;
}
.details .details_main .top{
    background:#fff;
}

/*********面包屑*************/
.details .details_main .top .crumb{
    font-size:13px;
    line-height:22px;
    margin-left:10px;
    margin-top:10px;
}
.details .details_main .top .crumb  a{
    color:#666;

}

/************放大镜--图片*************/
.details .details_main .top  .img {
    margin: 0 10px 0 10px;
    float:left;
    position: relative;
}
.details .details_main .top .img .img_md{
    width:460px;
    height: 460px;
    margin-left: 2px;
}
.details .details_main .top .img .img_md img{
    width:460px;
    height: 460px;

}
.details .details_main .top .img .img_md .move{
    width:230px;
    height: 230px;
    position:relative;
    background:#ffa;
    top:-230px;
    left:230px;
    opacity: 0.5;
}
.details .details_main .top .img .img_md .move_limit{
    width:460px;
    height: 460px;
    opacity:0.2;
    position:absolute;
    top:0;
    left: 0;
    cursor: move;
}
.details .details_main .top .img .img_lg {
    width: 460px;
    height: 460px;
    background: #fff;
    border: 1px solid #ddd;
    top: 0;
    left: 460px;
    z-index: 100;
    position: absolute;
    display:none;
}
.details .details_main .top .img .img_sm{
    width:470px;
    margin-top:10px;
    overflow: hidden;
}
.details .details_main .top .img .img_sm ul li{
    width:80px;
    height: 80px;
    float: left;
    margin-right: 8px;
    padding:7px 2px 2px;
}
.details .details_main .top .img .img_sm ul li img{
    width:84px;
    height:84px;
    vertical-align: middle;
}
/************info*************/
.details .details_main .top .info{
    float:left;
    width:710px;
}
.details .details_main .top .info h3{
    font-size: 23px;
    padding:10px;
    color: rgb(51, 51, 51);
}

    /*********************右侧**********************/
.right {
    display: block;
    position:fixed;
    top:0;
    height: 100%;
    background: #363636;
    right:0;
    z-index:100;
}
.right .cart{
    float:left;
    width:280px;
    height:100%;
    background: #fff;
    z-index:1000;

}
.right .right-menu{
    margin-top:110px;
    z-index:1000;
    float:left;
    height:100%;
}
.right .right-menu li{
    display: block;
    color:#fff;
    width:35px;
    height:100px;
    text-align: center;
    padding-top: 20px;
    font-size:13px;
    border-bottom: 1px solid #9b9b9b;
    padding-bottom: 10px;
}
.right .right-menu li:nth-child(2)~li{
    height:70px;
}
.right .right-menu li a{
    display: block;
    width:20px;
    color: #fff;
    text-align: center;
    padding-top:20px;
    font-size:12px;
}
.right .right-menu li:first-child a{
    padding-left:7px;
    margin-bottom: 10px;
}
.right .right-menu li:first-child span{
    border-radius:20px;
    padding:3px 8px;
    background: #d50039;
    color:#fff;
    margin-top:10px;
    margin-bottom: 10px;
}
.right .right-menu li:nth-child(2) a{
    width:20px;
    text-align: center;
    padding-left:6px;
    color:#999;
    background: url("../img/index/r_bar.png") no-repeat -62px 0 ;
    padding-top: 25px;
}
.right .right-menu li:nth-child(3) a{
    padding-left:6px;
    width:20px;
    text-align: center;
    color:#999;
    background: url("../img/index/r_bar.png") no-repeat -355px 0 ;
    padding-top: 28px;

}
.right .right-menu li:nth-child(4) a{
    padding-left:6px;
    width:20px;
    text-align: center;
    color:#999;
    background: url("../img/index/r_bar.png") no-repeat -434px 0 ;
    padding-top: 28px;
}
.right .right-menu li:last-child{
    border-bottom: none;
}
.right .right-menu li:last-child a{
    width:50px;
    background: url("../img/index/r_bar.png") no-repeat -207px 0;
}
