*{
    margin:0;
    padding:0;
}
body{
    background-color: #f5f5f5;
    color:#999;
    font: 12px "simhei",Arial,Helvetica,sans-serif;
}
a{
    text-decoration: none;
}
.fl,
.fr{
    float:left;
}
.cf:after,
.cf:before{
    display:block;
    content:'';
    clear:both;
}
.ct:before{
    display:table;
    content:'';
}
ul{
    list-style: none;
}
.details{
    width:100%;
    background:#FFF7F0;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:13px;
}
.details .details_main{
    width:1200px;
    margin:0 auto;
}
a:hover{
    color:#e61940;
}
.details .details_main .top{
    background:#fff;
}
.hide{
    display:none;
}
.active{
    display: block;
}
/*********面包屑*************/
.details .details_main .top .crumb{
    font-size:13px;
    line-height:22px;
    margin-left:10px;
    margin-top:10px;
    padding-top: 10px;
    color:#666;
}
.details .details_main .top .crumb  a{
    color:#666;

}

/************放大镜--图片*************/
.details .details_main .top  .img {
    margin: 0 10px 0 10px;
    float:left;
    position: relative;
}
.details .details_main .top .img .img_md{
    width:460px;
    height: 460px;
    margin-left: 2px;
}
.details .details_main .top .img .img_md img{
    width:460px;
    height: 460px;

}
.details .details_main .top .img .img_md .move{
    width:230px;
    height: 230px;
    position:relative;
    background:#ffa;
    top:-230px;
    left:230px;
    opacity: 0.5;
}
.details .details_main .top .img .img_md .move_limit{
    width:460px;
    height: 460px;
    opacity:0.2;
    position:absolute;
    top:0;
    left: 0;
    cursor: move;
}
.details .details_main .top .img .img_lg {
    width: 460px;
    height: 460px;
    background: #fff;
    border: 1px solid #ddd;
    top: 0;
    left: 460px;
    z-index: 100;
    position: absolute;
    display:none;
}
.details .details_main .top .img .img_sm{
    width:470px;
    margin-top:10px;
    overflow: hidden;
}
.details .details_main .top .img .img_sm ul li{
    width:80px;
    height: 80px;
    float: left;
    margin-right: 8px;
    padding:7px 2px 2px;
}
.details .details_main .top .img .img_sm ul li img{
    width:84px;
    height:84px;
    vertical-align: middle;
}
/************info*************/
.details .details_main .top .info{
    float:left;
    width:710px;
    margin-bottom:70px;
}
.details .details_main .top .info h3{
    font-size: 23px;
    padding:10px;
    color: rgb(51, 51, 51);
}
.details .details_main .top .info .price{
    background: #FFE8D1;
    height: 82px;
    margin: 20px 0  10px 0;
    position:relative;
}
.details .details_main .top .info .price ul li{
    float:left;
    display: inline-block;
}
.details .details_main .top .info  .price div{
    float: left;
}
.details .details_main .top .info .price ul li:first-child{
    line-height: 82px;
    color:#e61940;
    font-size: 32px;
    text-indent: 20px;

}
.details .details_main .top .info .price ul li:nth-child(2){
    color:#666;
    font-size: 14px;
    margin: 21px 35px 10px 40px;
}
.details .details_main .top .info .price ul li:nth-child(2) span:first-child{
    font-size:12px;
    color:#fff;
    background: #f6ab11;
    padding:2px 1px 2px 5px;
    font-weight: 700;
    margin-right: 10px;
}
.details .details_main .top .info .price ul li:nth-child(2) p{
    margin-top:5px;
    font-size:12px;
    color:#888;
}
.details .details_main .top .info .price ul li:last-child{
    height:35px;
    border-left:1px solid #ddd;
    padding-left: 20px;
    margin-top:23px;
}
.details .details_main .top .info .price ul li:last-child div p:first-child{
    color:#e61952;
    font-size:14px;
}
.details .details_main .top .info .price ul li:last-child div p:last-child{
    font-size:10px;
    margin-top:5px;
    color:#666;
}
.details .details_main .top .info .price div img{
    position: absolute;
    right:0;
    top:0;
}
.details .details_main .top .info .info_main{
    color:#999;
    line-height: 30px;
}
.details .details_main .top .info .info_main p:nth-child(2) span{
    color:#666;
    font-size:12px;
    padding:0 8px 0 8px;
    display:inline-block;
    position: relative;
}
.details .details_main .top .info .info_main p:nth-child(2) span:nth-child(2),
.details .details_main .top .info .info_main p:nth-child(2) span:nth-child(4),
.details .details_main .top .info .info_main p:nth-child(2) span:nth-child(6){
    padding-right: 20px;
}
.details .details_main .top .info .info_main p:last-child{
    position: relative;
}
.details .details_main .top .info .info_main p:last-child span{
    color:#e61952;
    font-size:14px;
    position:absolute;
    left:48px;

}
.details .details_main .top .info .store div:first-child,
.details .details_main .top .info .store span:nth-child(2),
.details .details_main .top .info .store span:nth-child(3),
.details .details_main .top .info .store span:first-child{
    float: left;
    line-height: 35px;
}
.details .details_main .top .info .store div:first-child{
    padding-right: 10px;
}
.details .details_main .top .info .store .address{
    position:relative;
}
.details .details_main .top .info .store .address .add_top{
    background: url("../img/details/down.png") 46px 8px no-repeat;
    border:1px solid #ddd;
    margin:0 10px;
}
.details .details_main .top .info .store .address .add_top span{
    line-height:30px;
    padding:0  17px 0 14px;

}
.details .details_main .top .info .store span{
    color:#666;
    line-height: 30px;
}
.details .details_main .top .info .store .address dl{
    width:401px;
    position:absolute;
    top:31px;
    padding:5px;
    background: #fff;
    color:#444;
    line-height: 30px;
    border: 1px solid rgb(224, 224, 224);
    left:85px;
}
.details .details_main .top .info .store .address dl dt {
    color:#999;
    text-indent: 10px;
    font-size:12px;

}
.details .details_main .top .info .store .address dl dd a {
    font-size:13px;
    color:#666;
    line-height:20px;
    height:22px;
    padding:1px 3px;
    width: 69px;
    display:inline-block;
    text-align: center;
    transition:all .1s linear;

}
.details .details_main .top .info .store .address dl dd a:hover{
    background: #E9380C;
    color:#fff;
}
.details .details_main .top .info div.num{
    margin-top:15px;
}
.details .details_main .top .info div.num .num_info,
.details .details_main .top .info .num ul,
.details .details_main .top .info .num ul li
{
    float:left;
    line-height:35px;
    text-align: center;
    position:relative;
}
.details .details_main .top .info .num ul{
    line-height: 25px;
    margin-left: 15px;
}
.details .details_main .top .info .num ul li a{
    width:20px;
    height:25px;
    border:1px solid #ddd;
    display: inline-block;
    line-height: 25px;
    font-size: 20px;
}
.details .details_main .top .info .num ul li input{
    width:40px;
    height:25px;
    position:relative;
    top:-2px;
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left:0;
    border-right: 0;
    left:0;
    text-align: center;
}
.details .details_main .top .info .btn{
    margin:20px;
    padding:20px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
.details .details_main .top .info .btn span a:first-child{
    width:253px;
    height: 47px;
    margin-right: 20px;
    background:url("../img/details/cart.png") no-repeat ;
    display: inline-block;
}
.details .details_main .top .info .btn span a:last-child{
    display: inline-block;
    width:180px;
    height: 47px;
    background:url("../img/details/buy.png") no-repeat ;
}
.details .details_main .top .info .other a{
    color:#458df0;
}
.details .details_main .top .info .other span{
    color:#e61952;
    line-height:30px;
}
.details .details_main .top .info .share span:first-child{
    line-height: 30px;
    background:url("../img/details/share.png") 1px 5px no-repeat;
    text-indent: 10px;
    display: inline-block;
    width:62px;
    padding-left:10px;
    float: left;

}
.details .details_main .top .info .share a:nth-child(2),
.details .details_main .top .info .share a:nth-child(3),
.details .details_main .top .info .share a:nth-child(4),
.details .details_main .top .info .share a:nth-child(5) {
    display: inline-block;
    width:22px;
    height: 25px;
    margin-left:10px;
    float: left;
}
.details .details_main .top .info .share a:nth-child(2){
    background: url("../img/details/qq.png") 1px 5px  no-repeat;
}
.details .details_main .top .info .share a:nth-child(3){
    background: url("../img/details/sina.png") 1px 5px  no-repeat;
}

.details .details_main .top .info .share a:nth-child(4){
    background: url("../img/details/tenxun.png") 1px 5px  no-repeat;
}

.details .details_main .top .info .share a:nth-child(5){
    background: url("../img/details/renren.png") 1px 5px  no-repeat;
}
.details .details_main .top .info .share a:nth-child(6){
    display: inline-block;
    width:50px;
    height: 30px;
    line-height:30px;
    text-align: center;
    margin-left:10px;
    float: left;
    background: url("../img/details/s_time.png") 1px 2px  no-repeat;
}
.details .details_main .top .info .share a:last-child{
    display: inline-block;
    width:100px;
    height: 30px;
    line-height:30px;
    text-align: center;
    margin-left:10px;
    float: left;
    background: url("../img/details/xin.png") 3px 7px  no-repeat;
    color:#e61952;

}
    /*********************右侧**********************/
.right {
    display: block;
    position:fixed;
    top:0;
    height: 100%;
    background: #363636;
    right:0;
    z-index:100;
}
.right .cart{
    float:left;
    width:280px;
    height:100%;
    background: #fff;
    z-index:1000;

}
.right .right-menu{
    margin-top:110px;
    z-index:1000;
    float:left;
    height:100%;
}
.right .right-menu li{
    display: block;
    color:#fff;
    width:35px;
    height:100px;
    text-align: center;
    padding-top: 20px;
    font-size:13px;
    border-bottom: 1px solid #9b9b9b;
    padding-bottom: 10px;
}
.right .right-menu li:nth-child(2)~li{
    height:70px;
}
.right .right-menu li a{
    display: block;
    width:20px;
    color: #fff;
    text-align: center;
    padding-top:20px;
    font-size:12px;
}
.right .right-menu li:first-child a{
    padding-left:7px;
    margin-bottom: 10px;
}
.right .right-menu li:first-child span{
    border-radius:20px;
    padding:3px 8px;
    background: #d50039;
    color:#fff;
    margin-top:10px;
    margin-bottom: 10px;
}
.right .right-menu li:nth-child(2) a{
    width:20px;
    text-align: center;
    padding-left:6px;
    color:#999;
    background: url("../img/index/r_bar.png") no-repeat -62px 0 ;
    padding-top: 25px;
}
.right .right-menu li:nth-child(3) a{
    padding-left:6px;
    width:20px;
    text-align: center;
    color:#999;
    background: url("../img/index/r_bar.png") no-repeat -355px 0 ;
    padding-top: 28px;

}
.right .right-menu li:nth-child(4) a{
    padding-left:6px;
    width:20px;
    text-align: center;
    color:#999;
    background: url("../img/index/r_bar.png") no-repeat -434px 0 ;
    padding-top: 28px;
}
.right .right-menu li:last-child{
    border-bottom: none;
}
.right .right-menu li:last-child a{
    width:50px;
    background: url("../img/index/r_bar.png") no-repeat -207px 0;
}
