*{
    margin:0;
    padding:0;
}
body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
}
.fl,
.fr{
    float:left;
}
.cf:after{
    display:block;
    content:'';
    clear:both;
}
.ct:before{
    display:table;
    content:'';
}   
ul{
    list-style: none;
}
.header,
.logo,
footer{
    width:100%;
}
.header_main,.logo_main,.footer_main{
    width:1200px;
    margin: 0 auto;
}

/*01---------------------header-----------------------------*/
.header{
    height:40px;
    line-height:40px;
    background: #efefef;
}
.header_main{
    color: #8c8c8c;
}
.header_main ul li{
    float:right;
    margin-left: 35px;
}
.header_main ul li a{
    color: #999999;
    font-size:15px;
}
.header_main ul li img{
    position:relative;
    top: 5px;
}
.header_main ul li a:hover{
    color: #5c5c5c;
}


/*02---------------------------logo-----------------------*/
.logo{
    height:160px;
    border-bottom: 2px solid #ffb000;
}
.logo .logo_main{
    padding-top:20px;
}
.logo .logo_main ul li{
    float:left;
}
.logo .logo_main ul li:last-child{
    float: right;
}
.logo .logo_main :first-child li:nth-child(2){
    margin-left:260px;
}
.logo .logo_main input{
    width:340px;
    height:35px;
    border:2px solid #ffc400;
}
.logo .logo_main button{
    width:80px;
    height:39px;
    color:#fff;
    font-weight: 500;
    background-color: #ffc400;
    border:none;
    margin-left:-10px;
    margin-top: 2px;
    cursor: pointer;
    padding-bottom: 4px;
    font-size:16px;
}
.logo .logo_main ul li p{
    margin-top:6px;
    color:#666;
    font-size:14px;
    margin-bottom:20px;
}
.logo .logo_main ul li p a{
    color:#666;
    margin-right:5px;
}
.logo .logo_main ul:last-child li{
    float:left;
    width:190px;
    height:34px;
    font-size:16px;
    line-height: 34px;
    text-align:center;
    background:#ffb000;
    color:#4d4d4d;
}
.logo .logo_main ul:last-child li img{
    margin-right:10px;
    height:16px;
    position:relative;
    top:1px;
}



